*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'EB Garamond', serif;
    color: rgb(236, 236, 236);
}

main{
    display: flex;
    justify-content: space-between;
}

.container h1{
    font: normal bolder 4em 'Jost', sans-serif;
}

#azul{
    background-color: #7786E6;  /*#2638AE*/
}

#azul .centro{
    background-color: #2638AE;
}

#vermelho{
    background-color: #E66855;  /*#AD220C*/
}

#vermelho .centro{
    background-color:#AD220C;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80vh;
    text-align: center;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    width: 50%;
    height: 30vh;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.123);
}

.centro h2{
    font: normal bolder 1.5em 'Jost', sans-serif;
}

.centro input{
    padding: 5px;
    width: 50%;
}

.centro button{
    padding: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.centro p {
    padding: 3px 15px;
    background-color: #E66855;
    display: none;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

footer{
    background-color: #C5E172;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer button{
    font: normal 1.2em 'Jost', sans-serif;
    padding: 15px 40px;
    color: white;
    background-color: #66972a;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.103);
    cursor: pointer;
}

footer button:hover{
    background-color:#85bd41;
}

footer p {
    background-color: white;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.11);
    display: none;
}